# This is a basic workflow to help you get started with Actions

name: Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  e2e-tests:
    runs-on: ubuntu-latest # or macos-latest, windows-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2

      - uses: microsoft/playwright-github-action@v1

      - name: Install dependencies and run tests
        run:
          yarn install && MANIFEST_VERSION=3 yarn build-chrome && xvfb-run
          --auto-servernum -- yarn test
